{% extends 'common.html' %}
{% block content %}
    <div class="container">
        <table class="table-responsive centered">
            <thead>
            <tr>
                <th class="#e6ee9c lime lighten-3  deep-orange-text lighten-1" colspan="2"><h3>{{ district|upper }}</h3>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for infor in  district_info %} {# to take tuple outside a list #}
                <tr>
                    {% for info in infor %} {# this line to take value outside a tuple #}
                        <td>{{ info|title }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% for j,k in detail.items %}
                <tr>
                    <td>{{ j|title }}(delta)</td>
                    <td>{{ k }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td>{{ total }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}